<script lang="ts">
  import {Icon} from "sveltestrap"
</script>

RPG Card generator was made by Mathias Andresen, and is inspired by the project <https://github.com/mephitrpg/rpg-cards> which is a fork of <https://github.com/crobi/rpg-cards>.

See the [<Icon name="file-earmark-text" /> Documentation](/docs)